.form-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
button[type='submit'] {
  width: 100%;
  cursor: pointer;
}
button[type='submit']:hover {
  background-color: #003d82;
}
